* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
  background-color: rgb(208, 214, 219);
}
.center {
  display: flex;
  justify-content: center;
}
main {
  margin-top: 35vh;
}
h1 {
  text-align: center;
  width: 100%;
}
h4 {
  margin-bottom: 0.5rem;
}
input {
  margin-top: 1rem;
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  width: 100%;
  background-color: rgb(60, 157, 81);
}
input::placeholder {
  color: black;
  text-align: center;
  font-style: italic;
}
button {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
#err {
  width: 100%;
  text-align: center;
  color: rgb(196, 51, 51);
}
.user-input,
.output {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.output {
  display: none;
  width: fit-content;
}
